* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(78 160 255);
    background-image: url("../img/pattern.png");
    height: 180px;
    position: relative;
}

header img {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

main {
    margin: 10px;
}

h1 {
    font-size: 50px;
}

h3 {
    color: rgb(135, 135, 135);
}

h4 {
    color: rgb(165, 165, 165);
    font-weight: normal;
}

h5 {
    color: rgb(165, 165, 165);
    font-weight: normal;
}

.highlight {
    background-color: yellow;
}

.blu-text {
    color: rgb(78 160 255);
}

.main-photos p {
    font-size: small;
}

.first-paragraph ul {
    margin-left: 1em;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
}

thead {
    background-color: rgb(33, 169, 229);
    color: white;
}

th {
    text-align: left;
}

.odd-background {
    background-color: rgb(177	229	242	);
}

section {
    margin-top: 30px;
}

.other-articles {
    width: 250px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: 600;
    font-size: 23px;
    padding: 10px;
    margin-top: 10px;
}

.article-1 {
    background-image: url("../img/monitor.jpg");
}

.article-2 {
    background-image: url("../img/graph.jpg");
}